.wrapper {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .name {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 32px);
    user-select: none;
  }
}
